In [1]:
import pandas as pd

In [64]:
dict_exemplo = {

'Nome':['Whey','BCCA','Creatina'],
'Pesagem_1': ['1kg','200g','200g'],
'Pesagem_2': ['2kg','400g','300g'],
'Pesagem_3': ['5kg','1kg','500g'],
'Preco_1':[100,50,100],
'Preco_2':[190,90,150],
'Preco_3':[400,220,200],
}

In [74]:
df = pd.DataFrame(dict_exemplo)
df

       Nome Pesagem_1 Pesagem_2 Pesagem_3  Preco_1  Preco_2  Preco_3
0      Whey       1kg       2kg       5kg      100      190      400
1      BCCA      200g      400g       1kg       50       90      220
2  Creatina      200g      300g      500g      100      150      200

In [70]:
colunas_pesagem = list(df.filter(like='Pesagem').columns)

In [75]:
df_1 = pd.melt(df,
               id_vars=['Nome'],
               var_name='Pesagem_id',
               value_vars=colunas_pesagem,
               value_name='Peso Padrao')
df_1

       Nome Pesagem_id Peso Padrao
0      Whey  Pesagem_1         1kg
1      BCCA  Pesagem_1        200g
2  Creatina  Pesagem_1        200g
3      Whey  Pesagem_2         2kg
4      BCCA  Pesagem_2        400g
5  Creatina  Pesagem_2        300g
6      Whey  Pesagem_3         5kg
7      BCCA  Pesagem_3         1kg
8  Creatina  Pesagem_3        500g

In [ ]:
# Post 2

In [55]:
def preco_padrao(row):
    print(row)
    print(row['Preco_1'])
    return

In [ ]:
df_1['Preco_Padrao'] = df_1['Pesagem_id'].apply(lambda x: preco_padrao(x))

In [76]:
import pandas as pd

# Exemplo de dados
dados = {
    'Item': ['Item1', 'Item2', 'Item3'],
    'Pesagem_1': [1, 2, 3],
    'Pesagem_2': [4, 5, 6],
    'Pesagem_3': [7, 8, 9],
    'Preco_1': [10, 20, 30],
    'Preco_2': [40, 50, 60],
    'Preco_3': [70, 80, 90]
}

# Criando o DataFrame
df = pd.DataFrame(dados)

# Usando pd.melt() para "derreter" as colunas de pesagem e pre√ßo
df_detalhado = pd.melt(df, id_vars=['Item'], var_name='Tipo', value_name='Valor')

# Exibindo o DataFrame detalhado
print(df_detalhado)

     Item       Tipo  Valor
0   Item1  Pesagem_1      1
1   Item2  Pesagem_1      2
2   Item3  Pesagem_1      3
3   Item1  Pesagem_2      4
4   Item2  Pesagem_2      5
5   Item3  Pesagem_2      6
6   Item1  Pesagem_3      7
7   Item2  Pesagem_3      8
8   Item3  Pesagem_3      9
9   Item1    Preco_1     10
10  Item2    Preco_1     20
11  Item3    Preco_1     30
12  Item1    Preco_2     40
13  Item2    Preco_2     50
14  Item3    Preco_2     60
15  Item1    Preco_3     70
16  Item2    Preco_3     80
17  Item3    Preco_3     90